:root  {
/* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

/* Text colors */
  --primary-txt-cl: #434455;
  --secondary-txt-cl: #2E2F42;
  --accent-txt-cl: #4D5AE5;
  --light-txt-cl: #E7E9FC;
  --wht-cl: #FFFFFF;
  --light-dark-tx: #E7E9FC;
  --light-wht-txt-cl:#F4F4FD;
  
/* BG colors */
  --primary-bg-cl: #FFFFFF;
  --accent-bg-cl: #2E2F42;
  --secondary-bg-cl: #F4F4FD;
  --contrast-bg-cl:#4D5AE5;
  --deep-bg-cl: #404BBF;

  --light-line-cl: #E7E9FC;

/* others */

  --indent: 24px;
  --items: 3;
  --items-4: 4;
}

/* reset style*/
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list {
  list-style: none;
  text-decoration: none;
  color: currentColor;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/* reset none*/

body {
  margin:0;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.02em;
  background-color: var(--primary-bg-cl);
  color: var(--primary-txt-cl);
}
.container-for-bg {
  width: 1440px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-left: calc(-1* var(--indent));
  margin-top: calc(-1* var(--indent));
}

.card-set-item {
  margin-left: var(--indent);
  margin-top: var(--indent);
  width: calc ((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.card-set-item-4 {
  width: calc((100% - var(--indent) * (var(--items-4) - 1)) / var(--items-4));
  margin-left: var(--indent);
  margin-top: var(--indent);
  max-width: 264px;
}
/* btn styles */
.btn {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.04em;
  border: none;
}

.btn-hero { 
  display: block;

  min-height: 56px;
  min-width: 169px;  
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px; 

  background-color: var(--contrast-bg-cl);
  color: var(--wht-cl);
}
    
.btn-portfolio:hover,
.btn-portfolio:focus { 
  background-color: var(--deep-bg-cl);
  color: var(--wht-cl);
}

.btn-portfolio {
 min-height: 48px;
 flex-direction: row;
 justify-content: center;
 padding: 12px 24px;

 margin-right: auto;
 margin-left: auto;
 border-radius: 4px; 

 color: var(--accent-txt-cl);
 background-color: var(--secondary-bg-cl);
}

.btn-portfolio:last-child {
  margin-right: 0;
}

.btn-portfolio:first-child {
  margin-left: 0;
}

/* h3*/
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24/20);
  color: var(--secondary-txt-cl);
}

/*h2*/
.section-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40/36);
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
  text-align: center;
}

.text {
  color: var(--primary-txt-cl);
}
/* header styles */

.header {
border-bottom: 1px solid var(--light-line-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px; ;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24/18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.logo {
  align-items: center;
  color: var(--accent-txt-cl);
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
   }

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.nav-link {
  display: block; 
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: var(--secondary-txt-cl); 
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-txt-cl);
}

.adress {
display: flex;
align-items: center;
margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
 display: block;
 font-style: normal;
 padding-top: 24px;
 padding-bottom: 24px;
 color: var(--primary-txt-cl);
}

/* shero-section */
.hero-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  background-repeat: no-repeat;
}

.main-hero-h {
  width: 500px;
  font-weight: 700;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
    
  font-size: 56px;
  line-height: calc(60/56);
  color: var(--wht-cl);

  letter-spacing: 0.02em;
  text-align: center;
}

/* About */

.container-about {
  display: flex;
}

.hidden-about {
  text-align: center;
}

.about-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-li {
  max-width: 264px;
}

.title-about {
  margin-bottom: 8px;
}

.samples {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24/20);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.li-consist {
  margin-right: 24px;
}

.text-about {
  margin-right: var(--indent);
  width: 264px;    
}

/* About us section */
.section-what {
  padding-top: 0px;
}

.we-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* Team */
.team-section { 
  background-color: var(--secondary-bg-cl);
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.teem-container {
  display: flex;
  align-items: center;
}

.team-card {
  max-width: 264px;
  background-color: var(--wht-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.teem-set {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
}

.manager {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-h {
  margin-bottom: 8px;
}

/* Footer*/
.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-bottom: 100px ;
  padding-top: 138px;
  background-color: var(--accent-bg-cl);
  }

.footer-logo {
    margin-bottom: 16px;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-wht-txt-cl);
    }

.footer-text {
  color:  var(--light-dark-tx);
  width: 264px;    
 }

 /* Portfolio */

.filtr-list {
  display: flex;
  justify-content: center;
  
  margin-bottom: 72px;
  gap: 24px;
 }


.btn-portfolio all {
 width: 69px;
}

.btn-portfolio web {
 width: 116px;
}

.btn-portfolio app {
  width: 78px;
}

.btn-portfolio design {
 width: 69px;
}

.btn-portfolio marketing {
 width: 69px;
}

 /* Portfolio samples */

.samples-s {
  border: 1px solid var(--light-dark-tx);
  border-top: none;

  padding-bottom: 32px;
  padding-left: 16px;
  padding-top: 32px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.text-set {
  margin-top: 8px;
 }
